%h1 My Profile
= form_for @user, {:url => {:action=>"update", :id=>@user}, :method=>'post'} do |f|
  = render :partial => 'shared/form_errors', :locals => {:obj=>@user,:name=>"user"}
  %p
    I can see myself posting publically as
    = f.text_field :display_name, :title => "Initially these are not unique!"
  %p
    I have connected with
    - @connected.each do |con|
      = provider_img(con)
      = link_to '(x)',
        disconnect_path(con),
        :confirm => 'Are you sure you want to remove this authentication option?',
        :method => :delete, :class => "remove", :title => "disconnect"
  - unless @to_connect.empty?
    %p
      Connect further with:
      - @to_connect.each do |tc|
        = provider_link(tc)
  - if @user.email
    %p 
      My registered email is
      = f.email_field :email
  - else
    %p 
      I haven't registered an email yet but maybe
      = f.email_field :email
      would work
  %p
    Get updates from us?
    = f.check_box :subscribed
  .actions
    = f.submit "Save changes"