= content_for :head do
  = javascript_include_tag "galleria"
%h1 The Gallery
%ul#tabs
  - for gallery in @galleries
    %li
      %a{:href=>"#",:data=>{:album=>gallery.picasa_album}}= gallery.title
#galleria
= content_for :bottom do
  %script= "picasa_galleria('#{@galleries.first.picasa_album}');"

