= content_for :head do
  = stylesheet_link_tag "galleria.classic.css"
  = javascript_include_tag "galleria", "galleria.classic.js"
  = javascript_include_tag "galleria.picasa.js"
%h1 This will be a gallery testing page for the meantime
#galleria
= content_for :bottom do
  %script picasa_galleria();

