= content_for :head do
  = stylesheet_link_tag "galleria.classic.css"
  = javascript_include_tag "galleria-1.2.5", "galleria.classic.js", "welcome.gallery"
  = javascript_include_tag "galleria.picasa.js"
%h1 The Gallery
%ul#tabs
  - for gallery in @galleries
    %li
      %a{:href=>"#",:data=>{:album=>gallery.picasa_album}}= gallery.title
#galleria
= content_for :bottom do
  %script= "picasa_galleria('#{@galleries.first.picasa_album}');"

