= semantic_form_for [:admin, @post] do |f|
  = f.inputs "Post Details" do
    = f.input :admin_user_id, :as => :hidden, :input_html => {:value => current_admin_user.id }
    = f.input :title
    = f.input :publish
    = f.input :content
  = f.buttons

= render :partial => "uploads/show"
#dialog-form{:title=>"Upload an Image!"}
  %h2 Please only upload one image at a time for now, I'm working on it ;)
  %figure#uploaded
  = render :partial => "uploads/form"
