= semantic_form_for [:admin, @post] do |f|
  = f.inputs "Post Details" do
    = f.input :admin_user_id, :as => :hidden, :input_html => {:value => current_admin_user.id }
    = f.input :title
    = f.input :content
  = f.buttons