= content_for :head do
  = javascript_include_tag "comment"
%article.post
  %h2
    %a{:name=>"post"}= @post.title
  = @post.content.html_safe
  %section.comments
    %h2
      %strong Comments
      %span
        = surround '(', ')' do
          %a{:href=>"#new-comment"} leave one      
    - if @post.comments.present?
      = render @post.comments
    -else
      %p Be the first!
  %section.new
    %h2 
      %a{:name=>"new-comment"} Leave a new comment!
      %span
        = surround '(', ')' do
          %a{:href=>"#post"} up top
    - if logged_in?
      = render 'comments/form'
    - else
      %p
        but please log in first...
        = surround '(', ')' do
          = render :partial => 'authentications/base_login'
