!!!
%html
  %head
    %title= "Fablicator - not your average 3d printer"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title= "Fablicator - not your average 3d printer"
    %meta{:name=>"description", :content=>"Fablicator: One man's 3d printer dream"}
    %meta{:name=>"keywords", :content=>"3d,printer,fablicator"}
    %link{:rel=>"shortcut icon", :href=>"favicon.ico?v=2"}
    =yield :head
  %body
    #wrapper
      %header
        = link_to image_tag("logo_lt_gray.png", :title => "fablicator"), root_path
        = render 'authentications/login'
      #main{:role => "main"}
        %nav
          %ul
            %li= link_to_unless_current "Home", root_path
            %li= link_to_unless_current "About", about_path
            %li= link_to_unless_current "FAQ", faq_path
            %li= link_to_unless_current "Blog", posts_path
            %li= link_to_unless_current "Gallery", gallery_path
        - flash.each do |key, value|
          =content_tag(:div, value, :class => "flash #{key}")
        = yield
    %footer.clearboth
      %p.right andrew@fablicator.com
      %p.copyright (c) KL Services Group inc.
  = yield :bottom
