!!!
%html
  %head
    %title= "Fablicator - not your average 3d printer"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title= "Fablicator - not your average 3d printer"
    %meta{:name=>"description", :content=>"Fablicator: One man's 3d printer dream"}
    %meta{:name=>"keywords", :content=>"3d,printer,fablicator"}
    =yield :head
  %body
    #wrapper
      %header
        = link_to image_tag("logo_lt_gray.png", :title => "fablicator"), root_path
      #main{:role => "main"}
        %nav
          %ul
            %li= link_to "Home", root_path
            %li= link_to "About", about_path
            %li= link_to "FAQ", faq_path
            %li= link_to "Gallery", gallery_path
        = yield
    %footer
      %p.right andrew@fablicator.com
      %p.copyright (c) KL Services Group inc.
  = yield :bottom

